@import-normalize; /* bring in normalize.css styles */

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 background: rgb(235,255,37);
background: linear-gradient(77deg, rgba(235,255,37,0.5326331216080182) 10%, rgba(110,233,242,0.921988863904937) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
